@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <ul>
        <li>@Html.ActionLink("Categorias","Index", "Categorias")</li>
        <li>@Html.ActionLink("Productos","Index", "Productos")</li>
    </ul>
    
</div>
